<%% label ||= nil %>

<div class="clearfix">
  <%%= optional_label(f, what, label) %>
  <div class="input">
    <%%= f.cktext_area what, :toolbar => 'Easy', :width => 800, :height => 400 %>
    <%%= content_tag(:span, help, :class => 'help-block') if help_text_present?(local_variables) %>
  </div>
</div><!-- /clearfix -->


<%% content_for :javascripts do %>
  <%%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
  <%%= stylesheet_link_tag "/javascripts/ckeditor/contents.css" %>
<%% end %>