<%% label ||= nil %>

<div class="clearfix">
  <%%= optional_label(f, what, label) %>
  <div class="input">
    <%%= f.text_field what, :class => 'span6 datepicker' %>
    <%%= content_tag(:span, help, :class => 'help-block') if help_text_present?(local_variables) %>
  </div>
</div><!-- /clearfix -->

<link type="text/css" href="/assets/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/assets/admin/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript">
	$(function(){
		// Datepicker
		$('.datepicker').datepicker({
			inline: true,
			changeYear: true,
			yearRange: '1990:2030'
		});				
	});
</script>
