<%% if item.errors.any? %>
  <div class="alert-message block-message error">
    <p><strong>You got an error!</strong></p>
    <ul>
      <%% item.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
    </ul>    
  </div>
<%% end %>