
<%% label ||= nil %>

<div class="control-group">
  <%%= optional_label(f, what, label, 'control-label') %>
  <div class="controls">
    <%%= f.text_area what %>
    <%% if help_text_present?(local_variables) %>
      <p class='help-block'><%%= help.html_safe %></p>
    <%% end %>
  </div>
</div>