<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />

  <title>Flexible Admin</title>
  <%%= stylesheet_link_tag 'admin/application' %>
  <%%= javascript_include_tag 'admin/application' %>
  
  <%%= yield :stylesheets -%>
  <%%= yield :javascripts -%>
  
  <%%= csrf_meta_tag %>
</head>

<body>
  
  <%%= render 'layouts/admin/navigation' %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%%= yield :sidebar %>
        &nbsp;
      </div>
      <div class="span10">
        <%%= render 'layouts/admin/flash', :flash => flash %>
        <%%= yield :layout %>
      </div>
    </div>
  </div>

</body>

</html>
