<h2>Welcome to the admin</h2>

<p>
  You can manage your different resources in the top menu bar. If its empty, you can generate the admin scaffolding by running
  
  <pre>
    rails g flexible_admin Post
  </pre>
  
  Where "Post" is your model name.
  
</p>

<p>You can edit/delete this page in app/views/admin/index.html.erb</p>

<p>A great use for this space is to present mini-reports about latest activity, or summary reports, or previews.  You'll have to write that stuff on your own.</p>