<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />

  <title>Flexible Admin</title>

  <%%= stylesheet_link_tag 'admin/application' %>
  <%%= csrf_meta_tag %>
</head>

<body>

  <div class="container-fluid">
    <div class="sidebar">

    </div><!-- .sidebar -->
    <div class="content">
      <%%= yield :layout %>
    </div>
  </div>

</body>

</html>
