<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />

  <title>Flexible Admin</title>
  <%%= stylesheet_link_tag 'admin/application' %>
  <%%= csrf_meta_tag %>
</head>

<body>
  
  <%%= render 'layouts/admin/navigation' %>

  <div class="container-fluid">
    <div class="sidebar">

    </div><!-- .sidebar -->
    <div class="content">
      <%%= render 'layouts/admin/flash', :flash => flash %>
      <%%= yield :layout %>
    </div>
  </div>

</body>

</html>
